[Unit]
Description=BuildBot master service
After=network.target

[Service]
User=buildbot
Group=buildbot
WorkingDirectory=/home/buildbot/master
ExecStart=/var/lib/virtualenv/buildbot-master/bin/buildbot  start --nodaemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
