- include_vars:
    file: site_settings.yml
    name: site_settings


- win_chocolatey:
    name: "{{ item.name }}"
    params: "{{ item.params|default('') }}"
    timeout: 5400
  with_items:
    - name: python2
    - name: python3
    - name: git
      params: '"/GitAndUnixToolsOnPath"'
    - name: visualstudio2017community
    - name: visualstudio2017-workload-nativedesktop
      params: "--includeOptional"


- name: install pypiwin32
  win_shell: py -2 -m pip install pypiwin32
  args:
    creates: C:\Python27\Scripts\pywin32_postinstall.py
  notify: pywin32 installed

- name: setup buildbot-worker user
  win_user:
    name: buildbot-worker
    password: "{{site_settings.worker_pass}}"
    password_never_expires: yes
    user_cannot_change_password: yes


- name: install buildbot-worker
  win_shell: py -2 -m pip install buildbot-worker
  args:
    creates: C:\Python27\Scripts\buildbot-worker.exe


- name: create workspace for the buildbot worker
  win_shell:
    py -2 C:\Python27\Scripts\buildbot-worker.exe create-worker
      C:\BuildbotWorker 
      "{{hostvars[groups['master'][0]]['ec2_private_ip_address']}}"
      windows_server_2016 
      "{{site_settings.worker_pass}}"
  args:
    creates: C:\BuildbotWorker


- name: create the BuildResources directory
  win_file:
    path: 'C:\BuildResources'
    state: directory


# wheel mirrored from http://www.lfd.uci.edu/~gohlke/pythonlibs/#pywin32
- name: download resources for the build tasks
  win_get_url:
    url: 'https://s3.amazonaws.com/golem-buildbot-build-resources/pywin32-221-cp36-cp36m-win_amd64.whl' 
    dest: 'C:\BuildResources\pywin32-221-cp36-cp36m-win_amd64.whl'
    force: no


- name: setup service
  win_service:
    name: buildbot-worker
    path: 'C:\Windows\py.exe -2 C:\Python27\Scripts\buildbot-worker.exe start C:\BuildbotWorker'
    start_mode: delayed
    state: started
    username: "{{ansible_hostname}}\buildbot-worker"
    password: "{{site_settings.worker_pass}}"

