- include_vars:
    file: site_settings.yml
    name: site_settings


- win_chocolatey:
    name: "{{ item.name }}"
    params: "{{ item.params|default('') }}"
  with_items:
    - name: python2
    - name: python3
    - name: git
      params: '"/GitAndUnixToolsOnPath"'
    - name: visualstudio2017community
    - name: visualstudio2017-workload-nativedesktop 
      params: "--includeOptional"


- name: install pypiwin32
  win_shell: py -2 -m pip install pypiwin32
  args:
    creates: C:\Python27\Scripts\pywin32_postinstall.py
  notify: pywin32 installed
  
- name: install buildbot-worker
  win_shell: py -2 -m pip install buildbot-worker
  args:
    creates: C:\Python27\Scripts\buildbot-worker.exe

- name: create workspace for the buildbot worker
  win_shell:
    py -2 C:\Python27\Scripts\buildbot-worker.exe create-worker
      C:\BuildbotWorker 
      {{hostvars[groups['master'][0]]['ec2_private_ip_address']}}
      windows_server_2016 
      {{site_settings.worker_pass}}
  args:
    creates: C:\BuildbotWorker

- name: download resources for the build tasks
  win_get_url:
    url: 'https://s3.amazonaws.com/golem-buildbot-build-resources/pywin32-221-cp36-cp36m-win_amd64.whl' 
    dest: 'C:\BuildResources\pywin32-221-cp36-cp36m-win_amd64.whl'
    force: no
