# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
ui_*.py
*.exe
*.swp

# Vim swap files
*.swp


#VB files
*.obj
*.pdb
*.sdf
*.suo
*.tlog


# C extensions
*.so

# Distribution / packaging
.Python
build/
.cache/
.coverage
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea
lib/
lib64/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Golem files
*.db
.version.ini

gui/view/gen/icons_rc.py
golem/monitorconfig_local.py

# Logs
logs/*
tests/logs/*
loggingconfig_local.py
golem.log*
golem_cli.log*
golem_gui.log*
golem_client.log*
*.log

# Project structure parse results
lextab.py
yacctab.py
# Local data
data/

# Install and build
apps/rendering/resources/taskcollector/Release/*
apps/rendering/resources/taskcollector/taskcollector.vcxproj
Installer/Installer_Win/deps/*
Installer/Installer_Win/golem-*

# virtualenv
venv/*
