# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
ui_*.py
*.exe


#VB files
*.obj
*.pdb
*.sdf
*.suo
*.tlog


# C extensions
*.so

# Distribution / packaging
.Python
build/
.cache/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea
lib/
lib64/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Golem files
*.db
*.log
*.log.20*
gui/view/gen/icons_rc.py

# Project structure parse results
lextab.py
yacctab.py
# Local data
data/
