# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
ui_*.py

# C extensions
*.so

# Distribution / packaging
.Python
build/
.cache/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea
lib/
lib64/
sdist/
*.egg-info/
.installed.cfg
*.egg
