include golemapp.py
include requirements.txt
include README.md
include LICENSE.txt
include golem/ethereum/genesis_golem.json
include golem/ethereum/mine_pending_transactions.js
include gnr/logging.ini
include gnr/ui/nopreview.png
include gnr/ui/img/*
include gnr/taskcollector/Release/*
recursive-include apps *.blend *.jpg *.lxs *.ply *.lxo *.lxm *.lxv *.txt
