#git+https://github.com/golemfactory/golem-messages@<branchname>
--extra-index-url https://builds.golem.network
appdirs>=1.4
asn1crypto==0.22.0
autobahn==17.10.1
Automat==0.6.0
base58
cbor==1.0.0
certifi
cffi==1.10.0
click>=4.0
crossbar==17.12.1
distro
docker==3.5.0
enforce==0.3.4
eth-utils==1.0.3
ethereum==1.6.1
Golem-Messages==3.4.0
Golem-Smart-Contracts-Interface==1.7.0
html2text==2018.1.9
humanize==0.5.1
incremental==17.5.0
miniupnpc<2.1,>=2.0
ndg-httpsclient
netifaces==0.10.4
numpy==1.13.1
OpenEXR
os-win
packaging
peewee<2.11,>=2.8
peewee_migrate==0.14.0
pluggy==0.6.0
portalocker==1.2.1
psutil==5.2.2
py-cpuinfo==4.0.0
pyasn1==0.4.1
pycparser==2.17
pydispatcher
pyOpenSSL==17.1.0
pysha3>=1.0.2
pytz
PyYAML>=5.1
raven
requests==2.21.0
scrypt
semantic_version
setuptools-rust==0.10.2
setuptools>=36.0.1,<39.0.0
six==1.11.0
tabulate
token_bucket==0.2.0
Twisted==17.9.0
txaio==2.8.2
web3==4.2.1
zope.interface==4.4.2
zxcvbn-python
