#git+https://github.com/golemfactory/golem-messages@<branchname>#egg=golem-messages
--extra-index-url https://builds.golem.network
appdirs>=1.4
asn1crypto==0.22.0
autobahn==19.6.2
Automat==0.6.0
base58
bidict
cbor==1.0.0
certifi
cffi==1.12.3
click==7.0
crossbar==19.6.2
dataclasses
dataclasses-json
distro
docker==3.5.0
enforce==0.3.4
eth-utils==1.0.3
ethereum==1.6.1
Golem-Messages==3.14.1
Golem-Smart-Contracts-Interface==1.10.3
Golem-Task-Api==0.24.3
html2text==2018.1.9
humanize==0.5.1
incremental==17.5.0
marshmallow
miniupnpc<2.1,>=2.0
ndg-httpsclient
netifaces==0.10.4
numpy==1.15.4
OpenEXR
os-win
packaging
pathvalidate
peewee<2.11,>=2.8
peewee_migrate==0.14.0
pluggy==0.6.0
portalocker==1.2.1
psutil==5.2.2
py-cpuinfo==4.0.0
pyasn1==0.4.5
pycparser==2.17
pydispatcher
pyOpenSSL==17.5.0
pysha3>=1.0.2
python-snappy==0.5.4
pytz
PyYAML>=5.1
raven
requests==2.21.0
scrypt
semantic_version
service-identity==18.1.0
setuptools-rust==0.10.2
setuptools>=36.0.1,<39.0.0
six==1.12.0
tabulate
token_bucket==0.2.0
Twisted==19.7.0
txaio==18.8.1
ujson==1.35
urllib3==1.24.3
web3==4.2.1
zope.interface==4.4.2
zxcvbn-python
