appdirs>=1.4
click>=4.0
ipaddress
jsonpickle
netifaces==0.10.4
OpenEXR==1.2.0
peewee>=2.4.7
Pillow==3.0.0
psutil
pyelliptic==1.5.7
pysha3==0.3
pystun==0.1.0
qt4reactor==1.6
requests==2.8.1
six==1.10.0
Twisted>=15.4
ethereum-rpc-client
devp2p
https://github.com/ethereum/pyethereum/tarball/develop#egg=ethereum
