appdirs>=1.4
bitcoin==1.1.39
ecdsa==0.13
ipaddr==2.1.11
netifaces==0.10.4
OpenEXR==1.2.0
paramiko==1.16.0
peewee>=2.4.7
Pillow==3.0.0
psutil
pyelliptic==1.5.7
pysftp==0.2.8
pysha3==0.3
pystun==0.1.0
qt4reactor==1.6
requests==2.8.1
six==1.10.0
Twisted==15.4.0
wheel==0.24.0
zope.interface==4.1.3
https://github.com/ethereum/pydevp2p/tarball/develop#egg=devp2p
https://github.com/ethereum/pyethereum/tarball/develop#egg=ethereum
