- include_vars:
    file: site_settings.yml
    name: site_settings


- name: add user buildbot worker
  become: yes
  user:
    name: buildbot-worker
    home: /Users/buildbot-worker


#install geth
- name: add geth repo
  become_user: buildbot-worker
  homebrew_tap:
    name: ethereum/ethereum

- name: install geth and dependencies
  become_user: buildbot-worker
  homebrew:
    name: "{{ item }}"
  with_items:
    - ethereum
    - automake
    - pkg-config
    - libtool
    - libffi
    - gmp


# install hyperg
- name: install tar
  become_user: buildbot-worker
  homebrew:
    name: gnu-tar
    options:
      - with-default-names

# Link gtar to replace tar
- lineinfile:
    create: yes
    path: ~/.bashrc
    line: export PATH=/usr/local/bin:$PATH

- name: Prepare hyperg directory
  become: yes
  file:
    dest: /usr/local/share
    state: directory

- name: download hyperg
  become: yes
  unarchive:
    remote_src: yes
    src: https://github.com/mfranciszkiewicz/golem-hyperdrive/releases/download/v0.2.3/hyperg_0.2.3_darwin-x64.tar.gz
    dest: /usr/local/share/
  args:
    creates: /usr/local/share/hyperg


- name: Link hyperg
  file:
    src: /usr/local/share/hyperg/hyperg
    dest: /usr/local/bin/hyperg
    state: link


# install pythons
- name: install python and deps
  become_user: buildbot-worker
  homebrew:
    name: "{{ item }}"
  with_items:
    - python3
    - openexr
    - freeimage


- name: install buildbot venv
  become_user: buildbot-worker
  become: yes
  pip:
    executable: pip3
    name: virtualenv


- name: create buildbot venv
  become_user: buildbot-worker
  become: yes
  command: /usr/local/bin/python3 -m venv /Users/buildbot-worker/.venv
  args:
    creates: /Users/buildbot-worker/.venv

- name: install buildbot and its requirements
  become_user: buildbot-worker
  become: yes
  command: /Users/buildbot-worker/.venv/bin/pip3 install buildbot-worker
  args:
    creates: /Users/buildbot-worker/.venv/bin/buildbot-worker


# # TODO: master address will not be updated once configuration is generated
- name: initialized workspace for the worker
  become_user: buildbot-worker
  become: yes
  command:
    /Users/buildbot-worker/.venv/bin/buildbot-worker create-worker
      /Users/buildbot-worker/worker
      {{worker_master_hostname}}
      macOS
      {{site_settings.worker_pass}}
    creates=/Users/buildbot-worker/worker/


- name: copy the launchdaemon file
  become: yes
  copy:
    src: network.golem.buildbot-worker.plist
    dest: /Library/LaunchDaemons/network.golem.buildbot-worker.plist
  notify: load buildbot worker service
