swagger: '2.0'
info:
  description: Golem Brass Gatewway API
  version: 1.0.0
  title: Golem Brass GW
  contact:
    email: contact@golem.network
  license:
    name: GPL 3.0
    url: 'https://www.gnu.org/licenses/gpl-3.0.html'
host: unlimited.golem.network
basePath: /gw/v1
schemes:
  - https
  - http
paths:
  '/subscriber/{nodeId}':
    parameters:
      - $ref: '#/parameters/nodeId'
    post:
      summary: Creates or amends new subscribtion to gloem network
      operationId: subscribe
      parameters:
        - in: body
          name: body
          description: Subscription spec
          required: true
          schema:
            $ref: '#/definitions/SubscribeRequest'
      responses:
        '200':
          description: subscribtion amended (task_type array changed)
        '201':
          description: subscribtion created
        '405':
          description: invalid input
    get:
      summary: Gets subscribtion status
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SubscriberStatus'
        '405':
          description: invalid input
    delete:
      summary: Deletes subscription
      description: ''
      responses:
        '200':
          description: subscription deleted
        '405':
          description: invalid input
  '/subscriber/{nodeId}/task/{taskId}':
    parameters:
      - $ref: '#/parameters/nodeId'
      - $ref: '#/parameters/taskId'
    post:
      summary: Sends want to compute task
      responses:
        '200':
          description: successful operation
    delete:
      summary: Cancels task
      responses:
        '200':
          description: task deleted
    put:
      summary: Updates task
      responses:
        '200':
          description: OK
  '/subscriber/{nodeId}/task/{taskId}/result':
    parameters:
      - $ref: '#/parameters/nodeId'
      - $ref: '#/parameters/taskId'
    post:
      summary: Report task completed
      responses:
        '200':
          description: OK
  '/subscriber/{nodeId}/uploadBlob':
    parameters:
      - $ref: '#/parameters/nodeId'
    post:
      summary: Uploads an file
      description: ''
      operationId: uploadFile
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/UploadResponse'
  '/events/{nodeId}/{timestamp}':
    parameters:
      - $ref: '#/parameters/nodeId'
      - name: timestamp
        in: path
        required: true
        type: integer
        format: int64
    get:
      summary: List events for given node id from given timestamp
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Events'
parameters:
  nodeId:
    name: nodeId
    in: path
    required: true
    description: ethereum address identifying node
    type: string
    minLength: 42
    maxLength: 42
    pattern: '0x[0-9a-f]{40}'
    # example: '0x1ca0fd52dd8d0abf3a577f5b4645806f774f2f7b'
  taskId:
    name: taskId
    in: path
    required: true
    type: string
    # example: "682e9b26-ed89-11e8-a9e0-6e845eabffe0"
definitions:
  SubscribeRequest:
    type: object
    required:
      - taskType
    properties:
      taskType:
        type: string
        example: blender
  SubscriberStatus:
    type: object
    properties:
      active:
        type: boolean
      tasks_stats:
        type: object
        properties:
          requested:
            type: integer
          succeded:
            type: integer
          failed:
            type: integer
          timedout:
            type: integer
  UploadResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
  Events:
    type: object
    properties:
      timestamp:
        type: string
        format: date-time
      events:
        type: array
        items:
          type: integer #todo: Task, Resource, VerificationResult
