server {
    {% if tls_enabled %}
        listen 443 ssl http2 default_server;
    {% else %}
        listen 80 default_server;
    {% endif %}

        server_name buildbot.golem.network;

        root html;
        index index.html index.htm;

    {% if tls_enabled %}
        ssl on;
        ssl_certificate /etc/ssl/certs/buildbot.golem.network.crt;
        ssl_certificate_key /etc/ssl/private/buildbot.golem.network.key;

        # put a one day session timeout for websockets to stay longer
        ssl_session_cache      shared:SSL:10m;
        ssl_session_timeout  1440m;

        # force https
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
        spdy_headers_comp 5;
    {% endif %}

        proxy_set_header HOST $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  $scheme;
        proxy_set_header X-Forwarded-Server  $host;
        proxy_set_header X-Forwarded-Host  $host;

        location / {
            return 301 $scheme://$host/buildbot/;
        }
        location /buildbot/ {
            proxy_pass http://127.0.0.1:8010/;
        }
        location /buildbot/sse/ {
            # proxy buffering will prevent sse to work
            proxy_buffering off;
            proxy_pass http://127.0.0.1:8010/sse/;
        }
        # required for websocket
        location /buildbot/ws {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass http://127.0.0.1:8010/ws;
            # raise the proxy timeout for the websocket
            proxy_read_timeout 6000s;
        }

        location /artifacts/ {
            alias /var/build-artifacts/;
            autoindex on;
        }
}
