<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StandardOutPath</key>
    <string>twistd.log</string>
    <key>StandardErrorPath</key>
    <string>twistd-err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/Users/buildbot-worker/.venv/bin:/usr/local/bin/:/usr/bin/</string>
      <key>TRAVIS</key>
      <string>true</string>
    </dict>
    <key>GroupName</key>
    <string>daemon</string>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>
    <key>Label</key>
    <string>network.golem.buildbot-worker</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/buildbot-worker/.venv/bin/buildbot-worker</string>
      <string>start</string>
      <string>--nodaemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>buildbot-worker</string>
    <key>WorkingDirectory</key>
    <string>/Users/buildbot-worker/worker/</string>
  </dict>
</plist>
