[Unit]
Description=BuildBot worker service
After=network.target

[Service]
User=buildbot-worker
Group=buildbot-worker
WorkingDirectory=/home/buildbot-worker/worker
ExecStart=/home/buildbot-worker/.local/bin/buildbot-worker start --nodaemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
